# **Indexing dan Subsetting dalam Pandas: Mengakses Data dengan Tepat**

Pustaka Pandas menyediakan berbagai cara untuk mengakses data dalam DataFrame, baik itu untuk memilih kolom, baris, atau kombinasi keduanya. Melalui berbagai teknik indeks dan subset, Anda dapat mengakses data yang diperlukan dengan tepat. Mari kita lihat bagaimana melakukan indeks dan subset data dalam Pandas.

## **Langkah 5.1: Memilih Satu Kolom**

In [1]:
import pandas as pd

# Membuat DataFrame contoh
data = {
    'Nama': ['Alice', 'Bob', 'Charlie', 'David'],
    'Usia': [25, 30, 22, 28],
    'Pekerjaan': ['Pengembang', 'Analisis Data', 'Desainer', 'Manajer']
}
df = pd.DataFrame(data)
df

      Nama  Usia      Pekerjaan
0    Alice    25     Pengembang
1      Bob    30  Analisis Data
2  Charlie    22       Desainer
3    David    28        Manajer

In [16]:
# Memilih kolom 'Nama'
nama = df['Nama']
nama

0      Alice
1        Bob
2    Charlie
3      David
Name: Nama, dtype: object

## **Langkah 5.2: Memilih Beberapa Kolom**

Anda dapat memilih beberapa kolom dengan menyediakan daftar nama kolom yang diinginkan:

In [3]:
# Memilih kolom 'Nama' dan 'Usia'
nama_usia = df[['Nama', 'Usia']]
nama_usia

      Nama  Usia
0    Alice    25
1      Bob    30
2  Charlie    22
3    David    28

## **Langkah 5.3: Memilih Baris melalui []**

Anda dapat memilih baris berdasarkan indeks numerik dengan menggunakan tanda kurung siku:

In [4]:
# Memilih baris ke-2
baris_ke_2 = df[1:2]
baris_ke_2

  Nama  Usia      Pekerjaan
1  Bob    30  Analisis Data

## **Langkah 5.4: Memilih melalui .loc[] (Berdasarkan Label)**

Anda dapat memilih baris berdasarkan label indeks menggunakan `.loc[]`:

In [5]:
# Memilih baris dengan label indeks 1
baris_label_1 = df.loc[1]
baris_label_1

Nama                   Bob
Usia                    30
Pekerjaan    Analisis Data
Name: 1, dtype: object

## **Langkah 5.5: Memilih melalui .iloc[] (Berdasarkan Posisi)**

Anda dapat memilih baris berdasarkan posisi numerik menggunakan `.iloc[]`:

In [6]:
# Memilih baris pada posisi indeks 2
baris_posisi_2 = df.iloc[2]
baris_posisi_2

Nama          Charlie
Usia               22
Pekerjaan    Desainer
Name: 2, dtype: object

## **Langkah 5.5: Indeks Boolean**

Anda dapat menggunakan indeks boolean untuk memilih baris berdasarkan kondisi tertentu:

In [7]:
# Memilih baris dengan usia di atas 25
diatas_25 = df[df['Usia'] > 25]
diatas_25

    Nama  Usia      Pekerjaan
1    Bob    30  Analisis Data
3  David    28        Manajer