# **Analisis Data Eksploratif Statistik dengan Pandas: Menjelajahi Data Secara Statistik**

Pustaka Pandas memberikan kemampuan untuk menjelajahi data Anda secara statistik. Dengan menggunakan berbagai fungsi bawaan, Anda dapat dengan cepat mendapatkan wawasan tentang distribusi data, statistik rata-rata, deviasi standar, dan lainnya. Mari kita lihat beberapa cara melakukan analisis data eksploratif statistik dalam Pandas.

## **Langkah 7.1: Fungsi info()**
Fungsi `info()` memberikan ringkasan tentang DataFrame, termasuk informasi tentang jenis data, jumlah nilai non-null, dan penggunaan memori:

In [1]:
import pandas as pd

# Membuat DataFrame contoh
data = {
    'Nama': ['Alice', 'Bob', 'Charlie', 'David'],
    'Usia': [25, 30, 22, 27],
    'Pekerjaan': ['Pengembang', 'Analisis Data', 'Desainer', 'Manajer']
}
df = pd.DataFrame(data)

# Menampilkan informasi tentang DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nama       4 non-null      object
 1   Usia       4 non-null      int64
 2   Pekerjaan  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

## **Langkah 7.2: Fungsi describe()**

Fungsi `describe()` memberikan statistik deskriptif tentang kolom numerik dalam DataFrame, seperti mean, deviasi standar, nilai minimum, dan lainnya:

In [2]:
# Menampilkan statistik deskriptif
deskripsi_statistik = df.describe()
deskripsi_statistik

            Usia
count   4.000000
mean   26.000000
std     3.366502
min    22.000000
25%    24.250000
50%    26.000000
75%    27.750000
max    30.000000

## **Langkah 7.3: Fungsi value_counts()**

Fungsi `value_counts()` memberikan hitungan unik dari nilai dalam kolom:

In [3]:
# Menampilkan hitungan unik dalam kolom 'Pekerjaan'
hitungan_pekerjaan = df['Pekerjaan'].value_counts()
hitungan_pekerjaan

Pekerjaan
Pengembang       1
Analisis Data    1
Desainer         1
Manajer          1
Name: count, dtype: int64

## **Langkah 7.4: Fungsi mean()**

Fungsi `mean()` menghitung rata-rata dari nilai dalam kolom:

In [4]:
# Menghitung rata-rata usia
rata_usia = df['Usia'].mean()
print("Rata-rata Usia:", rata_usia)

Rata-rata Usia: 26.0

## **Langkah 7.5: Fungsi std()**

Fungsi `std()` menghitung deviasi standar dari nilai dalam kolom:

In [5]:
# Menghitung deviasi standar usia
deviasi_standar_usia = df['Usia'].std()
print("Deviasi Standar Usia:", deviasi_standar_usia)

Deviasi Standar Usia: 3.366501646120693