# **Filter DataFrame dalam Pandas**

Filtering memungkinkan Anda untuk memilih subset dari data yang memenuhi kriteria tertentu. Pustaka Pandas menyediakan berbagai cara untuk melakukan filtering pada DataFrame. Mari kita lihat beberapa cara untuk melakukan filtering dalam Pandas.

## **Langkah 8.1: Menggunakan Operator Perbandingan**
Anda dapat menggunakan operator perbandingan seperti `==`, `>`, `<`, `>=`, dan `<=` untuk membuat kondisi filter:

In [1]:
import pandas as pd

# Membuat DataFrame contoh
data = {
    'Nama': ['Alice', 'Bob', 'Charlie', 'David'],
    'Usia': [25, 30, 22, 28],
    'Pekerjaan': ['Pengembang', 'Analisis Data', 'Desainer', 'Manajer']
}
df = pd.DataFrame(data)

# Menggunakan operator perbandingan untuk filtering
filtered_df = df[df['Usia'] > 25]
filtered_df

    Nama  Usia      Pekerjaan
1    Bob    30  Analisis Data
3  David    28        Manajer

## **Langkah 8.2: Metode isin()**

Anda dapat menggunakan metode `isin()` untuk memfilter berdasarkan beberapa nilai yang diberikan:

In [2]:
# Menggunakan metode isin() untuk filtering
pekerjaan_tertentu = ['Pengembang', 'Desainer']
filtered_by_pekerjaan = df[df['Pekerjaan'].isin(pekerjaan_tertentu)]
filtered_by_pekerjaan

      Nama  Usia   Pekerjaan
0    Alice    25  Pengembang
2  Charlie    22    Desainer

## **Langkah 8.3: Metode query()**

Metode `query()` memungkinkan Anda untuk mengekspresikan kondisi filtering menggunakan sintaks yang mirip SQL:

In [3]:
# Menggunakan metode query() untuk filtering
filtered_by_usia = df.query('Usia > 25')
filtered_by_usia

    Nama  Usia      Pekerjaan
1    Bob    30  Analisis Data
3  David    28        Manajer

## **Langkah 8.4: Menggabungkan Kondisi Filtering**

Anda dapat menggabungkan beberapa kondisi filtering menggunakan operator logika `&` (and) dan `|` (or):

In [4]:
# Menggabungkan kondisi filtering
filtered_combined = df[(df['Usia'] > 25) & (df['Pekerjaan'] != 'Analisis Data')]
filtered_combined

    Nama  Usia Pekerjaan
3  David    28   Manajer

## **Langkah 8.5: Menggunakan Metode loc[] dan iloc[]**

Metode `loc[]` dan `iloc[]` juga dapat digunakan untuk filtering dengan mengatur kondisi pada baris dan kolom:

In [5]:
# Menggunakan metode loc[] untuk filtering
filtered_loc = df.loc[df['Usia'] > 25, ['Nama', 'Usia']]
filtered_loc

    Nama  Usia
1    Bob    30
3  David    28

## **Langkah 8.6: Menggunakan Fungsi apply()**

Anda dapat menggunakan fungsi `apply()` untuk menerapkan fungsi khusus pada setiap baris atau kolom dan mengembalikan hasil filtering:

In [6]:
# Menggunakan fungsi apply() untuk filtering
def filter_function(row):
    return row['Usia'] > 25 and 'Data' in row['Pekerjaan']

filtered_apply = df[df.apply(filter_function, axis=1)]
filtered_apply

  Nama  Usia      Pekerjaan
1  Bob    30  Analisis Data