# 1. Variable

## 1.1. Pendeklarasian dan Pemberian Nilai Variabel
Variabel digunakan untuk menyimpan data di dalam memori untuk digunakan nanti.
Mereka diciptakan melalui pemberian nilai dan tidak perlu dideklarasikan secara eksplisit.

Contoh:

In [ ]:
nama = "Alice"  # Di sini, 'nama' adalah variabel yang menyimpan nilai "Alice"

## 1.2. Konvensi Penamaan Variabel
- Variabel dapat memiliki nama yang terdiri dari huruf, angka, dan garis bawah.
- Mereka harus dimulai dengan huruf (atau garis bawah) dan bersifat sensitif terhadap huruf besar dan kecil.

Konvensi:
1. Gunakan nama yang deskriptif agar jelas (misalnya, 'nama' alih-alih 'n')
2. Gunakan huruf kecil untuk nama variabel (misalnya, 'umur' alih-alih 'Umur')
3. Pisahkan kata-kata dengan garis bawah (misalnya, 'nama_lengkap' alih-alih 'namalengkap')
4. Hindari menggunakan kata kunci yang sudah dipesan sebagai nama variabel (misalnya, 'print', 'if', 'while')

In [ ]:
# Nama variabel yang valid:
nama_pengguna = "Bob"
umur = 25
_variable_penting = True

In [ ]:
# Nama variabel yang tidak valid (dikomentari untuk menghindari kesalahan):
1variable = 42  # Tidak boleh dimulai dengan angka
my-variable = "test"  # Tidak boleh menggunakan tanda hubung
for = "loop"  # Kata kunci yang sudah dipesan 'for'

# 2. Data Types

## 2.1. Bilangan Bulat (Integer)
Bilangan bulat adalah angka tanpa komponen pecahan.

Contoh:

In [ ]:
umur = 30
print(type(umur))

## 2.2. Bilangan Pecahan (Float)
Bilangan pecahan adalah angka dengan tanda desimal atau notasi eksponensial.

Contoh:

In [ ]:
tinggi = 5.9
print(type(tinggi))

## 2.3. String
String adalah urutan karakter, diapit oleh tanda kutip tunggal atau ganda.

Contoh:

In [ ]:
nama = "Alice"
print(type(nama))

## 2.4. Boolean
Boolean merepresentasikan nilai kebenaran Benar atau Salah.
Mereka sering digunakan untuk operasi logika dan perbandingan.

Contoh:

In [ ]:
mahasiswa = True
print(type(mahasiswa))

## 2.5. Operasi pada String
String dapat digabungkan (dikombinasikan) dan dikalikan.
Berbagai metode string tersedia untuk manipulasi.

Contoh:

In [ ]:
salam = "Halo"
salam_lengkap = salam + ", " + nama  # Penggabungan
salam_berulang = salam * 3  # Perkalian
print(salam_lengkap)
print(salam_berulang)

# 3. Type Conversion

## 3.1. Konversi Tipe Data Implisit (Koersi)
Konversi tipe data implisit, juga dikenal sebagai koersi, terjadi secara otomatis
saat operasi melibatkan tipe data yang berbeda.
Python mengubah tipe data nilai untuk sesuai dengan persyaratan operasi.

Contoh:

In [ ]:
int_num = 10
float_num = 3.5
hasil = int_num + float_num

print(int_num, type(int_num))
print(float_num, type(float_num))
print(hasil, type(hasil))

## 3.2. Konversi Tipe Data Eksplisit (Pengecoran)
Konversi tipe data eksplisit, juga dikenal sebagai pengecoran, melibatkan pengubahan
nilai dari satu tipe data ke tipe lain secara manual.

Ini dilakukan menggunakan fungsi bawaan seperti int(), float(), str(), dll.

Contoh:

### Fungsi int() mengubah string 'umur' menjadi bilangan bulat (integer).

In [ ]:
umur = "25"
print(umur, type(umur))
umur = int(umur)
print(umur, type(umur))

In [ ]:
tinggi = 5.9
print(tinggi, type(tinggi))
tinggi = int(tinggi)
print(tinggi, type(tinggi))

### Contoh konversi tipe data eksplisit lainnya:

In [ ]:
nilai_float = 3.14
print(nilai_float, type(nilai_float))
nilai_float = int(nilai_float)  # Mengubah float menjadi int (memotong desimal)
print(nilai_float, type(nilai_float))

In [ ]:
nilai_int = 42
print(nilai_int, type(nilai_int))
nilai_int = float(nilai_int)  # Mengubah int menjadi float
print(nilai_int, type(nilai_int))